<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChinaAppConfig</key>
	<dict>
		<key>isBaseApp</key>
		<true/>
		<key>rate_score_enable</key>
		<true/>
		<key>third_login_enable</key>
		<true/>
		<key>cloud_packages_enable</key>
		<true/>
		<key>user_experience_plan_enable</key>
		<true/>
		<key>cloud_packages_guide_enable</key>
		<true/>
		<key>play_module_guide_enable</key>
		<true/>
		<key>user_experience_plan_guide_enable</key>
		<true/>
		<key>activity_zones_guide_enable</key>
		<true/>
		<key>all_other_guide_enable</key>
		<true/>
		<key>feedback_enable</key>
		<true/>
		<key>more_service_enable</key>
		<true/>
		<key>tool_setting_enable</key>
		<true/>
		<key>live_share_enable</key>
		<true/>
		<key>device_share_enable</key>
		<true/>
		<key>video_encryption_enable</key>
		<true/>
		<key>FAQ_enable</key>
		<true/>
	</dict>
	<key>ChinaServerList</key>
	<array>
		<dict>
			<key>P2pServer</key>
			<string>p2p.lechange.cn</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>WeixinPayScheme</key>
			<string>www.lechange.com://</string>
			<key>WeixinPayDomain</key>
			<string>www.lechange.com</string>
			<key>AppLookUpUrl</key>
			<string>https://itunes.apple.com/cn/lookup?id=881803365</string>
			<key>CloudProtocol</key>
			<string>https://www.lechange.cn/static/html/cstos.html</string>
			<key>ShopUrl</key>
			<string>https://cn.imoulife.com/wap/?from=iOS_nav</string>
			<key>MyShopUrl</key>
			<string>https://cn.imoulife.com/wap/node/member/1</string>
			<key>DiscoveryUrl</key>
			<string>https://www.lechange.cn/webFront/discoverNews/news.html</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/id881803365</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>AppId</key>
			<string>lcbaseapp</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>UtpServer</key>
			<string>www.lechange.cn</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport.lechange.cn</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport.lechange.cn</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>WXAppId</key>
			<string>wxbfb65cad7eecd82b</string>
		</dict>
		<dict>
			<key>P2pServer</key>
			<string>funcp2p.lechange.cn</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>WeixinPayScheme</key>
			<string>funcshop.lechange.com://</string>
			<key>WeixinPayDomain</key>
			<string>funcshop.lechange.com</string>
			<key>AppLookUpUrl</key>
			<string>https://itunes.apple.com/cn/lookup?id=881803365</string>
			<key>CloudProtocol</key>
			<string>https://www.lechange.cn/static/html/cstos.html</string>
			<key>ShopUrl</key>
			<string>http://funcshop.lechange.com/index.php/wap/</string>
			<key>MyShopUrl</key>
			<string>https://funcshop.lechange.com/wap/node/member/1</string>
			<key>DiscoveryUrl</key>
			<string>https://www.lechange.cn/webFront/discoverNews/news.html</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/id881803365</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>AppId</key>
			<string>lcbaseapp</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>UtpServer</key>
			<string>hzfunc.lechange.cn</string>
			<key>DebugLogDomain</key>
			<string>functracelogreport.lechange.cn</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>funclogreport.lechange.cn</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>WXAppId</key>
			<string>wxbfb65cad7eecd82b</string>
		</dict>
		<dict>
			<key>P2pServer</key>
			<string>120.26.53.154</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>WeixinPayScheme</key>
			<string>dvlec.lechange.com://</string>
			<key>WeixinPayDomain</key>
			<string>dvlec.lechange.com</string>
			<key>AppLookUpUrl</key>
			<string>https://itunes.apple.com/cn/lookup?id=881803365</string>
			<key>CloudProtocol</key>
			<string>https://www.lechange.cn/static/html/cstos.html</string>
			<key>ShopUrl</key>
			<string>http://dvlec.lechange.com/index.php/wap/</string>
			<key>MyShopUrl</key>
			<string>http://dvlec.lechange.com/wap/node/member/1</string>
			<key>DiscoveryUrl</key>
			<string>https://www.lechange.cn/webFront/discoverNews/news.html</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/id881803365</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>AppId</key>
			<string>lcbaseapp</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>UtpServer</key>
			<string>dvl.lechange.com</string>
			<key>DebugLogDomain</key>
			<string>dvltracelogreport.lechange.cn</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>dvllogreport.lechange.cn</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>WXAppId</key>
			<string>wxbfb65cad7eecd82b</string>
		</dict>
	</array>
	<key>OverSeaAppConfig</key>
	<dict>
		<key>isBaseApp</key>
		<true/>
		<key>rate_score_enable</key>
		<true/>
		<key>third_login_enable</key>
		<true/>
		<key>cloud_packages_enable</key>
		<true/>
		<key>user_experience_plan_enable</key>
		<true/>
		<key>cloud_packages_guide_enable</key>
		<true/>
		<key>play_module_guide_enable</key>
		<true/>
		<key>user_experience_plan_guide_enable</key>
		<true/>
		<key>activity_zones_guide_enable</key>
		<true/>
		<key>all_other_guide_enable</key>
		<true/>
		<key>feedback_enable</key>
		<true/>
		<key>more_service_enable</key>
		<true/>
		<key>tool_setting_enable</key>
		<true/>
		<key>live_share_enable</key>
		<false/>
	</dict>
	<key>OverSeaServerList</key>
	<array>
		<dict>
			<key>appstoreUrl</key>
			<string>itms-apps://itunes.apple.com/cn/app/id1071165451?mt=8</string>
			<key>appstoreRateUrl</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=1071165451</string>
			<key>registerAgreementUrl</key>
			<string></string>
			<key>registerPolicyUrl</key>
			<string></string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>UtpServer</key>
			<string>app-v2.easy4ipcloud.com</string>
			<key>CaFileName</key>
			<string></string>
			<key>ShareServerAddr</key>
			<string>share.easy4ipcloud.com</string>
			<key>ShareServerPort</key>
			<string>443</string>
			<key>IftttUrl</key>
			<string>https://ifttt.com/easy4ip/embed?email=</string>
			<key>ClientID</key>
			<string>1</string>
			<key>P2pServer</key>
			<string>www.easy4ipcloud.com</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>AppId</key>
			<string>easy4ipbaseapp</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/easy4ip/id1071165451</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>OfflineHelpURL</key>
			<string>https://app.easy4ipcloud.com/viewWeb/privacy_device_offline.html</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport-v2.easy4ipcloud.com</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport-v2.easy4ipcloud.com</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>host</key>
			<string>app-v2.easy4ipcloud.com</string>
			<key>https_port</key>
			<string>443</string>
			<key>http_port</key>
			<string>80</string>
		</dict>
		<dict>
			<key>appstoreUrl</key>
			<string>itms-apps://itunes.apple.com/cn/app/id1071165451?mt=8</string>
			<key>appstoreRateUrl</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=1071165451</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>UtpServer</key>
			<string>app-testing-sz-v2.easy4ipcloud.com</string>
			<key>CaFileName</key>
			<string></string>
			<key>ShareServerAddr</key>
			<string>share-testing.easy4ipcloud.com</string>
			<key>ShareServerPort</key>
			<string>443</string>
			<key>IftttUrl</key>
			<string>https://ifttt.com/easy4ip/embed?email=</string>
			<key>ClientID</key>
			<string>1</string>
			<key>P2pServer</key>
			<string>www-testing.easy4ipcloud.com</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>AppId</key>
			<string>easy4ipbaseapp</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/easy4ip/id1071165451</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>OfflineHelpURL</key>
			<string>https://app-testing-sz.easy4ipcloud.com/viewWeb/privacy_device_offline.html</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport-testing-v2.easy4ipcloud.com</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport-testing-v2.easy4ipcloud.com</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>host</key>
			<string>app-testing-sz-v2.easy4ipcloud.com</string>
			<key>https_port</key>
			<string>443</string>
			<key>http_port</key>
			<string>80</string>
		</dict>
		<dict>
			<key>appstoreUrl</key>
			<string>itms-apps://itunes.apple.com/cn/app/id1071165451?mt=8</string>
			<key>appstoreRateUrl</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=1071165451</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>UtpServer</key>
			<string>app-dev-v2.easy4ipcloud.com</string>
			<key>CaFileName</key>
			<string></string>
			<key>ShareServerAddr</key>
			<string>app-dev.easy4ipcloud.com</string>
			<key>ShareServerPort</key>
			<string>443</string>
			<key>IftttUrl</key>
			<string>https://ifttt.com/easy4ip/embed?email=</string>
			<key>ClientID</key>
			<string>1</string>
			<key>P2pServer</key>
			<string>p2p-dev.easy4ipcloud.com</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>AppId</key>
			<string>easy4ipbaseapp</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/easy4ip/id1071165451</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>OfflineHelpURL</key>
			<string>https://app-dev.easy4ipcloud.com/viewWeb/privacy_device_offline.html</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport-dev-v2.easy4ipcloud.com</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport-dev-v2.easy4ipcloud.com</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>host</key>
			<string>app-dev-v2.easy4ipcloud.com</string>
			<key>https_port</key>
			<string>443</string>
			<key>http_port</key>
			<string>80</string>
		</dict>
		<dict>
			<key>appstoreUrl</key>
			<string>itms-apps://itunes.apple.com/cn/app/id1071165451?mt=8</string>
			<key>appstoreRateUrl</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=1071165451</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>UtpServer</key>
			<string>app-testing-v2.easy4ipcloud.com</string>
			<key>CaFileName</key>
			<string></string>
			<key>ShareServerAddr</key>
			<string>share-testing.easy4ipcloud.com</string>
			<key>ShareServerPort</key>
			<string>443</string>
			<key>IftttUrl</key>
			<string>https://ifttt.com/easy4ip/embed?email=</string>
			<key>ClientID</key>
			<string>1</string>
			<key>P2pServer</key>
			<string>www-testing-v2.easy4ipcloud.com</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>AppId</key>
			<string>easy4ipbaseapp</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/easy4ip/id1071165451</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>OfflineHelpURL</key>
			<string>https://app-testing.easy4ipcloud.com/viewWeb/privacy_device_offline.html</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport-testing-v2.easy4ipcloud.com</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport-testing-v2.easy4ipcloud.com</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>host</key>
			<string>app-testing-v2.easy4ipcloud.com</string>
			<key>https_port</key>
			<string>443</string>
			<key>http_port</key>
			<string>80</string>
		</dict>
		<dict>
			<key>appstoreUrl</key>
			<string>itms-apps://itunes.apple.com/cn/app/id1071165451?mt=8</string>
			<key>appstoreRateUrl</key>
			<string>itms-apps://itunes.apple.com/WebObjects/MZStore.woa/wa/viewContentsUserReviews?type=Purple+Software&amp;id=1071165451</string>
			<key>P2pServerPort</key>
			<integer>8800</integer>
			<key>UtpServer</key>
			<string>app-testing-sg-v2.easy4ipcloud.com</string>
			<key>CaFileName</key>
			<string></string>
			<key>ShareServerAddr</key>
			<string>share-testing.easy4ipcloud.com</string>
			<key>ShareServerPort</key>
			<string>443</string>
			<key>IftttUrl</key>
			<string>https://ifttt.com/easy4ip/embed?email=</string>
			<key>ClientID</key>
			<string>1</string>
			<key>P2pServer</key>
			<string>www-testing.easy4ipcloud.com</string>
			<key>SK</key>
			<string>%^k#1DI2gI#hdNK%eb#JPk@nJIxGXV1U</string>
			<key>WebView</key>
			<string>viewWeb</string>
			<key>AppId</key>
			<string>easy4ipbaseapp</string>
			<key>ProtocolVersion</key>
			<string>V6.0.0</string>
			<key>APPStoreAddr</key>
			<string>itms-apps://itunes.apple.com/app/easy4ip/id1071165451</string>
			<key>AK</key>
			<string>2QnTkhG3^t!rKXNP</string>
			<key>ProjectId</key>
			<string>Base</string>
			<key>OfflineHelpURL</key>
			<string>https://app-testing-sg.easy4ipcloud.com/viewWeb/privacy_device_offline.html</string>
			<key>DebugLogDomain</key>
			<string>tracelogreport-testing-v2.easy4ipcloud.com</string>
			<key>DebugLogPort</key>
			<integer>443</integer>
			<key>BusinessLogDomain</key>
			<string>logreport-testing-v2.easy4ipcloud.com</string>
			<key>BusinessLogPort</key>
			<integer>443</integer>
			<key>P2pAK</key>
			<string></string>
			<key>P2pSK</key>
			<string>YXQ3Mahe-5H-R1Z_</string>
			<key>host</key>
			<string>app-testing-sg-v2.easy4ipcloud.com</string>
			<key>https_port</key>
			<string>443</string>
			<key>http_port</key>
			<string>80</string>
		</dict>
	</array>
</dict>
</plist>
